{% extends 'baseadmin.html.twig' %}

{% block titrepage %} AdminController!{% endblock %}

{% block body %}
    <a href="{{ path("admin_creer") }}" class="btn btn-primary"> Créer maison </a>
            {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
{% endblock %}
